.pools_next_img {
	display: block;
	font-size: 77%;
	text-align: right;
	float: right;
}

.pools_prev_img {
	display: block;
	font-size: 77%;
	text-align: left;
	float: left;
}

.shm-thumb-has-pool img {
	/* TODO: Should we a overlay here instead? */
	border-style: dashed !important;
}